<button (click)="gotoPreviousPage()" class="btn-back"><i class="material-icons">chevron_left</i></button>

<div class="card">
  
  <div class="progress" *ngIf="!ready">
    <div class="indeterminate"></div>
  </div>
  
  <div class="card-content" *ngIf="ready">        
    <!-- <div>{{ bitcoin_Id }}</div> -->
    <!-- <div><span>Rank: </span>Rank: {{ bitcoin_Rank }}</div>
    <div>USD Price: {{ bitcoin_USDprice }}</div>
    <div>USD Exchange Rate: {{ USD_exchangeRate }}</div>
    <div>MXN {{ MXN }}</div>
    <div>COIN to MXN: {{ bitcoin_toMXN }}</div>
    <div>Hola hoy es: {{ todayAsString }}</div>

    <input type="text" name="mxn" />
    <input type="text" name="coinToMX" /> -->

    
    <table>
      <tbody>
        <tr>
          <td><h4 class="teal-text darken-2-text">{{ bitcoin_Name }}</h4></td>
          <td>&nbsp;</td><!-- Este es un hack. Si le pongo colspan="2" al td de arriba, el borde del tr se ve más grueso que los demás. -->
        </tr>
        <tr>
          <td><span>Rank:</span></td>
          <td class="data">{{ bitcoin_Rank }}</td>
        </tr>
        <tr>
          <td><span>USD Price:</span></td>
          <td class="data">{{ bitcoin_USDprice }}</td>
        </tr>
        <tr>
          <td><span>USD Exchange Rate:</span></td>
          <td class="data">{{ USD_exchangeRate }}</td>
        </tr>
        <tr>
          <td><span>MXN:</span></td>
          <td class="data">{{ MXN }}</td>
        </tr>
        <tr>
          <td><span>COIN to MXN:</span></td>
          <td class="data">{{ bitcoin_toMXN }}</td>
        </tr>
        <tr>
          <td><span>Hola hoy es:</span></td>
          <td class="data">{{ todayAsString }}</td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div>
