<button (click)="gotoPreviousPage()" class="btn-back"><i class="material-icons">chevron_left</i></button>

<div class="card">
  
  <div class="progress" *ngIf="!ready">
    <div class="indeterminate"></div>
  </div>
  
  <div class="card-content" *ngIf="ready">        
    <table>
      <tbody>
        <tr>
          <td><h4 class="teal-text darken-2-text">{{ bitcoin_Name }}</h4></td>
          <td>&nbsp;</td><!-- Este es un hack. Si le pongo colspan="2" al td de arriba, el borde del tr se ve más grueso que los demás. -->
        </tr>
        <tr>
          <td><span>Rank:</span></td>
          <td class="data">{{ bitcoin_Rank }}</td>
        </tr>
        <tr>
          <td><span>USD Price:</span></td>
          <td class="data">{{ bitcoin_USDprice }}</td>
        </tr>
        <tr>
          <td><span>USD Exchange Rate:</span></td>
          <td class="data">{{ USD_exchangeRate }}</td>
        </tr>
        <tr>
          <td><span>MXN:</span></td>
          <td class="data"><input type="number" [(ngModel)]="MXN" (ngModelChange)="calculateMxnToBitcoin()"/></td>
        </tr>
        <tr>
          <td><span>Bitcoin to MXN:</span></td>
          <td class="data"><input type="number" [(ngModel)]="bitcoin_toMXN" (ngModelChange)="calculateBitcoinToMX()"/></td>
        </tr>
        <tr>
          <td><span>Hola hoy es:</span></td>
          <td class="data">{{ todayAsString }}</td>
        </tr>
      
      </tbody>
    </table>
  </div>
</div>
